/* styles/Footer.module.css */

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
}

.footerContent {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.copyright {
    margin: 0;
    font-size: 14px;
}

.links {
    margin-top: 10px;
}

.link {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #1da1f2; /* Color change on hover */
}

.mobileAd {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    height: 50px;
    background: transparent;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    text-align: center;
    padding: 5px;
}

@media (min-width: 769px) {
    .mobileAd {
        display: none; /* Hide on desktop */
    }
}


@media (max-width: 768px) {
    .footerContent {
        padding: 0 10px;
    }

    .links {
        margin-top: 15px;
    }
}
