/* Header.module.css */
.header {
      text-align: center;
  
    background-color:white;
    margin: auto;
}

.siteTitle {
    margin-bottom: 10px; /* Space between title and menu */
    
}

.siteTitle h1 {
        font-size: 2rem;
    font-weight: bold;
    color: #000000;
}

.nav {
    margin-top: 10px;
}

.nav ul {
  list-style: none;
    padding: 10;
    display: flex
;
    justify-content: center;
    gap: 20px;
    background-color: #333;
}

.nav ul li {
    display: inline;
}

.nav ul li a {
    text-decoration: none;
    font-size: 17px;
    color: white; /* Link color */
    transition: color 0.3s ease;
}

.nav ul li a:hover {
    color: #005bb5; /* Change color on hover */
}
