.postCard {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 6px;
    margin-bottom: 15px;
	gap:15px;
}

.postContent {
    flex: 1;
}
.postCardContent {
    display: flex;
    align-items: center;
    width: 100%;
	gap:13px;
}


.postTitle {
    font-size: 16px;
    font-weight: bold;
    color: #222;
    margin-bottom: 8px;
}

.tags {
    margin-bottom: 5px;
}

.tag {
    font-size: 12px;
    color: #007bff;
    margin-right: 5px;
}

.postMeta {
    display: flex;
    font-size: 14px;
    color: rgb(85, 85, 85);
    margin-top: 8px;
    gap: 13px;
}

.category {
    font-weight: bold;
    color: #d9534f;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.category:hover {
    color: #a94442;
}

.date {
    color: #666;
}

.postImage {
    width: 100px;
    height: 75px;
    object-fit: cover;
    border-radius: 5px;
    
}

.postTitle a {
    text-decoration: none;
    color: #222; /* Set to the same color as normal text */
    transition: color 0.3s;
}

.postTitle a:hover {
    color: #555; /* Slightly lighter on hover for a subtle effect */
}